go-iberiar.tar.gz
*.min.js
*.js.map
*.min.css
*.css.map
## -- GO --
bin/iberiar-web
bin/iberiar-web.*
bin/iberiar
bin/iberiar.*
## -- GO --
*.mo
## -- BLOCK:go --
build/*
releases/*
## -- BLOCK:go --
## -- BLOCK:license --
## -- BLOCK:license --
