<!DOCTYPE HTML>
<html>
  <head>
    <meta language="{{.Language}}"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Iberiar.eu</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <meta name="htmx-config" content='{"htmx.config.globalViewTransitions":true}'>
    <style>
      @font-face {
          font-family: 'iberian';
          src: URL('/assets/iberian.ttf') format('truetype');
      }
      .iberian {
          font-family: iberian;
      }
    </style>
  </head>
  <body>
    <!-- Title -->
    <div class="jumbotron text-center bg-light mt-0 mb-0">
      <h1 class="pt-2" style="font-size: 36px">
        Iberiar.eu
        -
        <span class="iberian" style="font-size: 24px"></span>
      </h1>
      {{.T "Ancient basque/iberian writting translator"}}
      <center>
        <a href="?lang=es">[español]</a>
        <a href="?lang=eu">[euskara]</a>
        <a href="?lang=en">[english]</a>
      </center>
    </div>
    <!-- Navigation bar -->
    
    <!-- Start the page -->
    <div class="container-fluid mt-3 mb-5"
         style="max-width: 800px">

      <div class="card mt-1 mb-1">
        <div class="card-body">
          <h4 class="card-title">
            {{.H "<strong>The iberian script</strong>"}}
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">
            <a href="{{.T "https://en.wikipedia.org/wiki/Iberian_scripts"}}">
              {{.T "From wikipedia article"}}
            </a>
          </h6>
          <p class="card-text text-left">
            {{.T "The Iberian scripts are the Paleohispanic scripts that were used to represent the extinct Iberian language."}}
          </p>
        </div>
      </div>
      
      <div class="card mt-1 mb-1">
        <div class="card-body">
          <h4 class="card-title">{{.T "Write in iberian"}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">
            {{.T "The iberian scripts are semi-syllabic rather than purely alphabetic."}}
            {{.T "The basque language can be written with some success."}}
            {{.T "The rest of languages are nearly imposible. It lacks characters."}}
          </h6>
          <div class="row mb-1">
            <div class="col">
              <textarea id="BasqueText"
                        class="form-control"
                        name="text"
                        rows="7"
                        style="width: 100%; resize: none; background-color: #fff8dc"
                        placeholder="Idatzi emen"
                        js-autofill="true"
                        >{{.H "Here lies Beles&#10;Son of Beles."}}</textarea>
              <center>
                ({{.T "You can write"}})
              </center>
            </div>
            <div class="col">
              <textarea id="IberianText"
                        class="form-control iberian"
                        rows="3"
                        readonly
                        style="width:100%; resize: none; background-color: #eee8aa"
                        hx-get="/IberianText"
                        hx-trigger="keyup from:#BasqueText, load"
                        hx-swap="innerHTML"
                        hx-include="[name='text']"
                        ></textarea>
              <br/>
              <textarea id="LatinText"
                        class="form-control-sm"
                        rows="3"
                        readonly
                        style="width:100%; resize: none; background-color: #eee8aa"
                        hx-get="/LatinText"
                        hx-trigger="keyup from:#BasqueText, load"
                        hx-swap="innerHTML"
                        hx-include="[name='text']"
                        ></textarea>
            </div>
          </div>
        </div>
      </div>
      
      
      
      <div class="card mt-1 mb-1">
        <div class="card-body">
          <h4 class="card-title">
            {{.T "Where was it written?"}}
          </h4>
          <h6 class="card-subtitle mb-2 text-muted">
            {{.T "There was no paper."}}
            {{.T "It was written on iron or stone."}}
          </h6>
          <center>
            <div style="max-width: 400px"
                 hx-get="/IberianSVG"
                 hx-trigger="keyup from:#BasqueText, load"
                 hx-swap="innerHTML"
                 hx-include="[name='text']">
            </div>
          </center>
        </div>
      </div>
      
    </div>
    
    <!-- Footer -->
    <footer class="footer border-top text-center">
      <div>
        <ul class="list-unstyled small text-muted">
          <li class="mb-2">
            Iberiar.eu {{.T "is opensource"}}
            <a href="https://github.com/harkaitz/go-iberiar/blob/master/LICENSE">MIT</a>
            lizentziarekin.

            {{.T "You can donate to"}}
            <a href="btc://1C1ZzDje7vHhF23mxqfcACE8QD4nqxywiV">bitcoin</a> edo
            <a href="xmr://88JP1c94kDEbyddN4NGU574vwXHB6r3FqcFX9twmxBkGNSnf64c5wjE89YaRVUk7vBbdnecWSXJmRhFWUcLcXUTFJVddZti">monero</a>
            {{.T "so that the project continues"}}.
            
          </li>
          <li class="mb-2">
            {{.T "You can revise the source code"}}
            <a href="https://github.com/harkaitz/go-iberiar">
              {{.T "here"}}
            </a>
            .
            <br/>
            {{.T "If you are a programmer don't be shy and send a \"pull-request\"."}}
          </li>
          <li class="mb-2">
            {{.T "Bug reports and suggestions here: "}}
            <a href="mailto:harkaitz.aguirre@gmail.com">
              harkaitz.aguirre@gmail.com
            </a>.
          </li>
        </ul>
        <p class="mt-1 mb-1 small text-muted">
          © 2022
          <a class="text-muted"
             href="https://github.com/harkaitz"
             target="_blank">
            Harkaitz Agirre
          </a>
        </p>
      </div>
    </footer>
    
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/autofill.js"></script>
    <script src="/js/htmx.min.js"></script>
  </body>
</html>
